body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: white;
}

*{
    list-style-type: none;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

/* ===CONTAINER=== */

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* ===VISUALLY HIDDEN=== */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* ==================HEADER================== */
.header{

}

.header-container{
    display: flex;
    gap: 332px;
}

.header-navigation {
    display: flex;
    flex-grow:1;
    justify-content: space-between;
}

.header-navigation-logo{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
    
.header-logo {
    color:#2e2f42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.header-navigation-link {
    color: #2E2F42;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-navigation-link:hover,
.header-navigation-link:focus{
    color: #404BBF;
}

.header-navigation-list {
    display: flex;
    gap: 40px;
}

.header-list-items {}

.header-address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-list-items {
}

.header-address-link {
    color: #434455;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404BBF;
}
/* ========================================== */

/* ==================SECTION HERO IMAGE================== */
.hero-image {
    background-color: #2e2f42;
}

.hero-image-title{
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding: 188px 0 292px;
    max-width: 496px;
    margin: 0 auto;
}

.hero-image-btn {
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-image-btn:focus,
.hero-image-btn:hover{
    background-color: #404BBF
}
/* ========================================== */

/* ==================SECTION FEATURE================== */

.feature {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-list {
    display: flex;
    gap: 24px;
    }
    
.feature-list-items{
    max-width: 264px;
}

.feature-title {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
}

.feature-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ========================================== */

/* ==================SECTION TEAM================== */

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-items {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {

}

.team-subtitle {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
    padding-top: 32px;
}

.text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
}

/* ========================================== */

/* ==================SECTION PORTFOLIO================== */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-list-items {
}

.portfolio-img {
}

.portfolio-subtitle {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
    padding-top: 32px;
}

.text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
}

/* ========================================== */

/* ==================FOOTER================== */

.footer {
    background-color: #2e2f42;
}

.footer-container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-link {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo {
    color: #f4f4fd;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 16px;
    max-width: 264px;
}
